# Ignorar todo por defecto
*

# Permitir solo las carpetas esenciales de Unity
!Assets/
!ProjectSettings/
!Packages/

# Permitir todo el contenido dentro de esas carpetas
!Assets/**
!ProjectSettings/**
!Packages/**
